*
    margin 0
    padding 0

html
    font-size 10px
    background  url(https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=117116243,668904907&fm=26&gp=0.jpg)bottom center
    background-size 100%
.keys
    display -webkit-flex
    display: flex
    min-height: 100vh
    align-items: center
    justify-content: center
    .key
        margin 1rem
        border: .4rem solid #000000
        border-radius: 0.5rem
        font-size: 1.5rem
        padding:  1rem 0.5rem
        width 10rem
        text-align center
        color: white
        background-color: rgba(0,0,0,.4)
        text-shadow 0 0 .5rem black
        transition: all 0.7s ease 
        div
            display block
            font-size  4rem
            .sound
                font-size 1.2rem
                text-transform: uppercase
                letter-spacing: 0.1rem
                color #ffc600


